/*.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color:#135700;
}*/

/*.skin-blue .main-header .logo {
    background-color: #135700;
}
.skin-blue .main-header .logo:hover {
    background-color:#135700;
}*/
/*.skin-blue .main-header .navbar {
    background-color: #135700 ;
}*/

 #mdialTamanio{
      width: 50% !important;
    }
.modal-header{
    background-color:#cd5112 !important;
    color: #fff;
}
<<<<<<< HEAD
/*.skin-blue .sidebar-menu>li.active>a {
    border-left-color:#135700 !important;
}*/
.main-sidebar{
    background-color: #1E282C !important;
}

.margenn{
	display: flex;
	flex-direction: row;
	justify-content:center;
	justify-items: center; 
	align-items: center;
	align-content: center;
	margin-top: 7% !important;

}

@media (max-width: 768px) {
	.margenn{
	display: flex;
	flex-direction: row;
	justify-content:center;
	justify-items: center; 
	align-items: center;
	align-content: center;
	margin-top: 7%;

}
}

.cntrar {
  background-color: #fafafa;
  border: 1px solid #ccc;
  padding: 0 1rem;
  margin: 1rem;
    border-left-color:#b52917 !important;
}
    
.main-sidebar{
    background-color: rgb(8, 8, 8) !important;

}